// https://bulma.io/documentation/overview/customize/
@import 'node_modules/bulma/sass/utilities/initial-variables.sass';
@import 'node_modules/bulma/sass/utilities/functions.sass';

@import '_variables';

@import 'node_modules/bulma/bulma.sass';

@import '_override';
