// customize here
$fomily-sans-serif: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;

$body-size: 14px;
$background: #28323f;
$body-background-color: #222b36;

$red: #ff4a4a;
$yellow: #ffe100;
$green: #78e397;
$orange: #eb6422;
$blue: #218df2;

$text: $white-bis;
$family-primary: $family-sans-serif;
$text-strong: $white;

$title-color: $white;
$subtitle-color: $white-bis;

$box-background-color: $background;
