// https://bulma.io/documentation/overview/customize/
@import "bulma/sass/utilities/initial-variables.sass";
@import "bulma/sass/utilities/functions.sass";

@import '_variables.scss';
@import "bulma/bulma.sass";

@import '_overrides.scss';
